<template>
  <div>
    <Header />
    <div class="about">
      <h1>This is an about page</h1>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '../components/Header';

export default {
  components: {
    Header
  }
};
</script>
