<template>
  <div>
    <Header />
    <UpcomingEvents />
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "../components/Header";
import UpcomingEvents from "../components/UpcomingEvents";

export default {
  components: {
    Header,
    UpcomingEvents
  }
};
</script>
