<template>
  <div>
    <div class="header-container">
      <div class="name-logo">
        <img src="../assets/sworc_logo.jpg" alt="logo" />
      </div>
      <div class="menu-links">
        <router-link tag="li" class="links cool-link" active-class="active" exact to="/">
          <a>Home</a>
        </router-link>
        <router-link tag="li" class="links cool-link" active-class="active" to="/about">
          <a>About</a>
        </router-link>
      </div>
    </div>
    <hr class="divider" />
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
.header-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content min-content;
  padding: 10px;

  .name-logo {
    justify-self: center;
  }
  .menu-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Alfa Slab One", cursive;

    .links {
      font-size: 20px;
      color: rgb(77, 142, 228);
      text-transform: uppercase;
      text-decoration: none;
      list-style: none;
      display: inline;
    }

    & a {
      text-decoration: none;
      color: rgb(77, 142, 228);
    }

    .active a {
      border-bottom: 2px solid red;
      color: red;
    }
  }
}

li {
  margin-bottom: 10px;
}

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
  //transition: width .3s;
}

hr.divider {
  border: 4px solid lightgray;
  border-radius: 5px;
}
</style>
