<template>
  <div class="top">
    <div class="title">Upcoming Tournaments</div>
    <br />
    <p class="top-text">
      The site is designed to inform UNIFOR Members and their families of
      upcoming SWORC recreation and tournament events.
    </p>
    <div class="upcoming-grid">
      <Tournament v-for="tournament in tournaments" :key="tournament.id">
        <div class="ui rasied brown card fluid">
          <div class="content">
            <div class="header">
              {{ tournament.name }}
              <div>
                <img
                  class="right floated ui image"
                  :src="require(`@/assets/${tournament.sport}.png`)"
                />
              </div>
            </div>
            <br />
            <div class="details">
              <div>
                <i class="triangle right icon"></i>
                Sport: {{ tournament.sport }}
              </div>
              <div class="date">
                <i class="triangle right icon"></i>
                Date: {{ tournament.date | moment('ddd MMM Do, YYYY') }}
              </div>
              <div>
                <i class="triangle right icon"></i>
                Location: {{ tournament.location }}
              </div>
              <div>
                <i class="triangle right icon"></i>
                Deadline: {{ tournament.deadline | moment('ddd MMM Do, YYYY') }}
              </div>
            </div>
          </div>
          <div class="extra content">
            <div class="buttons">
              <a :href="`${tournament.poster}`">
                <div class="ui green button">Poster</div>
              </a>
              <a :href="`${tournament.application}`">
                <div class="ui blue button">Application</div>
              </a>
              <a v-if="tournament.results" :href="`${tournament.results}`">
                <div class="ui purple button">Results</div>
              </a>

              <a v-if="tournament.pictures" :href="`${tournament.pictures}`">
                <div class="ui yellow button">Pictures</div>
              </a>
            </div>
          </div>
        </div>
      </Tournament>
    </div>
  </div>
</template>

<script>
import Tournament from "./Tournament.vue";
export default {
  props: ["tournaments"],
  components: {
    Tournament
  }
};
</script>

<style scoped>
.title {
  font-family: "Alfa Slab One", cursive;
  font-size: 42px;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.top {
  margin-top: 50px;
}

.top-text {
  display: flex;
  justify-content: center;
  color: #999;
  font-size: 24px;
  font-weight: 400px;
}

.upcoming-grid {
  display: grid;
  padding: 4px;
  grid-template-columns: 422px 422px 422px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  background-color: lightblue;
  margin: 10px;
}

.content {
  background-color: white;
}

ui.right.floated.image,
.ui.right.floated.images {
  margin-right: 0px;
}

.details {
  font-size: 15px;
  line-height: 1.4em;
}

.header {
  text-align: center;
  text-transform: uppercase;
}
.buttons {
  display: flex;
  justify-content: center;
}
</style>
