<template>
  <div id="app">
    <Header />
    <UpcomingEvents :tournaments="tournaments" />
  </div>
</template>
<script>
import Header from "./components/Header";
import UpcomingEvents from "./components/UpcomingEvents";
import axios from "axios";
export default {
  data() {
    return {
      tournaments: []
    };
  },
  created() {
    axios
      .get("http://uniforsworc.ca/cms/api/tournaments?_format=json")
      .then(response => {
        const data = response.data;
        this.tournaments = data;
      });
  },
  components: {
    Header,
    UpcomingEvents
  }
};
</script>

<style lang="scss"></style>

